## Functions

Function without a return type returns default object, __None__.  
You must specify the __default args__, when calling the function.

In [95]:
def defaultArgs(a,b=1,c=2):
    print(a,b,c)

In [97]:
print(defaultArgs(a=1))

1 1 2

NoneType

The default value is evaluated at the defining scope of the function defination.  
The default value is only evaluated once.

In [62]:
i=2
def loop(arg=i):
    print(arg)
i=3

In [63]:
print(loop(1))
print(loop())

1
None
2
None

In [64]:
def accumulator(a,l=[]):
    l.append(a)
    return l

In [65]:
print(accumulator(1))
print(accumulator(4))

[1]
[1, 4]

If you don't want the value be shared between subsequent calls...

In [66]:
def accumulator(a,l=None):
    if l==None:
        l = []
        l.append(a)
    return l

In [67]:
print(accumulator(1))
print(accumulator(3))

[1]
[3]

### arguments and keyword arguments  
__\*args__ represent variable number of arguments  
__\*\*kwargs__ represent variable number of keyword arguments in the form of dictionary  
The function recieves a __tuple__ containing the positional arguments beyound the formal arguments  
Any formal parameters which occur after the \*args parameter are 'keyword' only arguments, meaning they can be used only as a keyword arguments rather than positional arguments

In [158]:
def fanc(*args,**kwargs):
    print(args,kwargs)
    return args,kwargs

In [159]:
print(fanc())
type(fanc(12,2,'adf',asdf='123'))

() {}
((), {})
(12, 2, 'adf') {'asdf': '123'}

tuple

In [165]:
def concat(*args,sep="/"):
    return sep.join(args)

In [166]:
concat('a','b','c')

'a/b/c'

In [170]:
concat('earth','mars','jupiter',sep='.')

'earth.mars.jupiter'

### Unpacking argument list
Use \*-operator to unpack the arguments out of the tuple or list

In [187]:
list(range(3,5))

[3, 4]

In [189]:
list(range(*[3,5]))

[3, 4]

## Lambda Expressions
Small anonymous functions can be created with __lamda__ expressions.  
Lamda functions can be used whenever function objects are required.  
They are syntactically restricted to single expresssion.  
Just like closures, they can refrence variables from the containing scope.

In [199]:
def increator(n):
    return lambda x:x+n

In [203]:
f = increator(2)
print(f(1))
print(f(3))

3
5

In [210]:
pairs = [(1,'one'),(2,'two'),(3,'three'),(4,'four')]

In [238]:
pairs.sort(key=lambda pair:pair[1])

In [254]:
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

# Data Structures

## List
- list.append(x) - append to end of the list
- list.insert(x) - insert at given poisition, default position is last, if the index croses the lenght of list
- list.remove(x) - remove the first item from the list whose value is x. If none gives error.
- list.pop([i]) - removes an item from the specified position and return it. If index not specified, removes last item.  
__(The square brackets around the i in the method signature denote that the parameter is optional)__    
List can be also used as __Stack__ with elements retrieved in lifo order, using methods like append() and pop()    
Furthermore in documentation.

In [264]:
fruits = ['apple','orange','guava','grapes','lemon','apple']

In [269]:
print(fruits.index('apple'))
# Find index of next apple starting at given position
print(fruits.index('apple',4))

0
5

In [272]:
fruits.reverse()

In [273]:
fruits

['apple', 'lemon', 'grapes', 'guava', 'orange', 'apple']

In [275]:
fruits.append('banana')

In [280]:
fruits

['apple', 'apple', 'banana', 'banana', 'grapes', 'guava', 'lemon', 'orange']

In [281]:
fruits.sort()

In [282]:
fruits

['apple', 'apple', 'banana', 'banana', 'grapes', 'guava', 'lemon', 'orange']

In [283]:
fruits.pop(2)

'banana'

In [284]:
fruits

['apple', 'apple', 'banana', 'grapes', 'guava', 'lemon', 'orange']

### Using List as Queues
Using list as queue is inefficent. 
Instead, we can use *collections.deque*

In [290]:
from collections import deque
queue = deque(['ram','hari','sita'])
queue.append('terry')
queue.append('shyam')
print(queue.popleft())
print(queue)
print(queue.pop())
print(queue)

ram
deque(['hari', 'sita', 'terry', 'shyam'])
shyam
deque(['hari', 'sita', 'terry'])

### List Comprehensions

In [292]:
list(x**2 for x in range(5))

[0, 1, 4, 9, 16]

A list comprehension consists of brackets containing an expression followed by a *for* clause, then zero or more *for* or *if* clause.  
The result will be a new list resulting from the evaluating the expression in the context of *for* or *if* clause.

In [299]:
[(x,y) for x in [1,2,3] for y in [2,4,6] if x!=y]

[(1, 2), (1, 4), (1, 6), (2, 4), (2, 6), (3, 2), (3, 4), (3, 6)]

In [298]:
# It's equivalent for loop:
combs = []
for x in [1,2,3]:
    for y in [2,4,6]:
        if x!=y:
            combs.append((x,y))
print(combs)

[(1, 2), (1, 4), (1, 6), (2, 4), (2, 6), (3, 2), (3, 4), (3, 6)]

In [413]:
vec = [-4,-2,0,2,4]

In [414]:
# squared
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [415]:
# filter the list to exclude neg numbers
[x for x in vec if x>=0]

[0, 2, 4]

In [416]:
# apply "abs" function to all items
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [417]:
freshfruit = ['banana ','blue berry',' mango']

In [418]:
# call a method on each item
[fruit.strip() for fruit in freshfruit]

['banana', 'blue berry', 'mango']

In [419]:
# create a list of 2-tuple like (number,square)
[(x,x*x) for x in range(5)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [420]:
# flatten a list using a listcomp using two for
vec = [[1,2,3],[2,4,6],[3,6,9],[]]
[num for elem in vec for num in elem]

[1, 2, 3, 2, 4, 6, 3, 6, 9]

#### Nested List Comprehension

In [321]:
# A matrix of size 3*4
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [10,12,14,16]
]

In [327]:
# transposing rows and columns
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 10], [2, 6, 12], [3, 7, 14], [4, 8, 16]]

In [330]:
# equivalent for loop
transposed = []
for i in range(4):
    transposed_row = []
    for rows in matrix:
        transposed_row.append(rows[i])
    transposed.append(transposed_row)
print(transposed)

[[1, 5, 10], [2, 6, 12], [3, 7, 14], [4, 8, 16]]

In [331]:
# Also can be accomplished using built-in zip function
list(zip(*matrix))

[(1, 5, 10), (2, 6, 12), (3, 7, 14), (4, 8, 16)]

## The *del* statement
There is a way to remove an item from a list given its index instead of its value: the del statement.  
This differs from the pop() method which returns a value.   
The del statement can also be used to remove slices from a list or clear the entire list.  
It can be also used to delete entire variable.

In [346]:
a = [-1,1,32.22,2.22,123.24]

In [347]:
del a[0]

In [348]:
a

[1, 32.22, 2.22, 123.24]

In [349]:
del a[2:4]

In [350]:
a

[1, 32.22]

In [351]:
del a[:]

In [352]:
a

[]

In [353]:
del a

## Tuples and Sequences
A tuple consists of a number of values separated by commas.  

Tuples are immutable, and usually contain a heterogeneous sequence of elements that are accessed via unpacking (see later in this section) or indexing (or even by attribute in the case of namedtuples).   

Lists are mutable, and their elements are usually homogeneous and are accessed by iterating over the list.

In [354]:
t = 1232,'123',22.22

In [355]:
t

(1232, '123', 22.22)

In [356]:
# tuples can be nested
u = t,'bac'

In [357]:
u

((1232, '123', 22.22), 'bac')

In [358]:
# But they can contain mutable objects
v = ([1,2,3],[3.2,3.4,3.5],['abc','bac','cab'])

In [364]:
v[1][0]=3.3
v

([1, 2, 3], [3.3, 3.4, 3.5], ['abc', 'bac', 'cab'])

In [379]:
# Empty tuples are constructed by an empty pair of parentheses; 
# A tuple with one item is constructed by following a value with a comma
empty = ()
singleton = 'hello', # <- note trailing comma
len(empty)

0

In [380]:
len(singleton)

1

In [381]:
singleton

('hello',)

In [384]:
t = 'ad',1,2

## Sets
A Set is an unordered collection with no duplicate elements.  
Set also support mathematical operations like union, intersection, difference and symmetric difference.

Curly braces or the set() function can be used to create sets.   
Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary.

In [387]:
basket = {'apple','orange','apple','grape'}

In [388]:
type(basket)

set

In [389]:
'orange' in basket

True

 Demonstrate set operations on unique letters from two words

In [392]:
a = set('abracadabra')
b = set('alacazam')

In [393]:
a

{'a', 'b', 'c', 'd', 'r'}

In [394]:
b

{'a', 'c', 'l', 'm', 'z'}

In [395]:
# letters in a but not in b; difference
a-b

{'b', 'd', 'r'}

In [396]:
# letters in a or b or both; union
a|b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [397]:
# letters in both a and b; intersection
a&b

{'a', 'c'}

In [398]:
# letters in either a or b but not in both; XOR
a^b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [408]:
# set comprehension are also supported
a = {x for x in 'abracadabra' if x not in 'abc'}

## Dictionaries

Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.  
Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key.   
You canâ€™t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append() and extend().


It is best to think of a dictionary as an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. 

Performing list(d.keys()) on a dictionary returns a list of all the keys used in the dictionary, in arbitrary order (if you want it sorted, just use sorted(d.keys()) instead).  

To check whether a single key is in the dictionary, use the in keyword.

In [421]:
tel = {'jack':3233,'mary':2009}

In [422]:
tel['harry']=3198

In [423]:
tel

{'harry': 3198, 'jack': 3233, 'mary': 2009}

In [424]:
del tel['harry']

In [425]:
tel

{'jack': 3233, 'mary': 2009}

In [426]:
list(tel.keys())

['jack', 'mary']

In [427]:
sorted(tel.keys())

['jack', 'mary']

In [428]:
'mary' in tel

True

In [429]:
# dict() contructer builds dictinaries,
# directly from sequences of key value pairs
dict([('one',1),('two',2),('three',3)])

{'one': 1, 'three': 3, 'two': 2}

In [432]:
# dict comprehension
{x:x**2 for x in (2,4,6)}

{2: 4, 4: 16, 6: 36}

In [433]:
# specify pairs using keyword args
dict(homo='sapiens',medula='oblangata')

{'homo': 'sapiens', 'medula': 'oblangata'}

### Looping Techniques

In [437]:
# When looping through dictionaries,
# keys and correspoding values can be retrieved using the item method
knights = {'gallahad':'the pure','robin':'the brave'}
for k,v in knights.items():
    print(k,v)

gallahad the pure
robin the brave

In [438]:
# When looping through sequences,
# position index and correspoding values can be retrieved using enumerate() function
for i,v in enumerate(['1','40','42','21']):
    print(i,v)

0 1
1 40
2 42
3 21

In [439]:
# To loop over two or more sequences at the same time, 
# the entries can be paired with the zip() function.
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q,a in zip(questions,answers):
    print(q,a)

name lancelot
quest the holy grail
favorite color blue

In [448]:
# It is sometimes tempting to change a list while looping through it,
# however, it is often simpler and safer to create a new list instead.
import math
raw_data = [1.2,3.4,float('NaN'),2.8,float('NaN')]
type(raw_data[2])

float

In [453]:
filtered_list = []
for value in raw_data:
    if not math.isnan(value):
        filtered_list.append(value)
filtered_list

[1.2, 3.4, 2.8]

## More on Conditions

The conditions used in while and if statements can contain any operators, not just comparisons.  

Comparisons can be chained. For example, a < b == c tests whether a is less than b and moreover b equals c.

## Comparing Sequences and Other Types

Sequence objects may be compared to other objects with the same sequence type.  

The comparison uses lexicographical ordering: first the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared, and so on, until either sequence is exhausted.   

If two items to be compared are themselves sequences of the same type, the lexicographical comparison is carried out recursively.   
If all items of two sequences compare equal, the sequences are considered equal.  
If one sequence is an initial sub-sequence of the other, the shorter sequence is the smaller (lesser) one.   
Lexicographical ordering for strings uses the Unicode code point number to order individual characters.

In [462]:
[1,23,3] < [1,41,3]

True

In [465]:
'bbc' < 'aaa'

False

In [466]:
(1,2,3,4) < (1,2,3)

False

In [469]:
(1,2) > (1,2,-1)

False

In [470]:
(1,2,3) == (1.0,2.0,3.0)

True

In [471]:
(1,2,('aa','ab')) < (1,2,('abc','a'),4)

True